body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.toolbar {
    background-color: #1e1e1e;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
}

h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 2px;
}

button {
    background-color: #3a3a3a;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover { background-color: #555; }
button.danger:hover { background-color: #ff4757; }

/* Dise침o de cada ventana individual */
.grid-stack-item-content {
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    overflow: hidden;
}

/* Calculamos que la grilla ocupe exactamente el 100% de la pantalla menos la barra superior */
main {
    height: calc(100vh - 66px); /* 66px es aprox lo que mide el header */
    padding: 5px;
    box-sizing: border-box;
}

/* El dise침o del "Fantasma" que muestra d칩nde va a caer la ventana */
.grid-stack-placeholder > .placeholder-content {
    border: 3px dashed #00ffcc !important; /* Borde celeste ne칩n */
    background-color: rgba(0, 255, 204, 0.1) !important;
    border-radius: 8px;
    transition: all 0.1s ease;
}